p{
	font-size: 35px;
	color: #2F4F4F;
}
body{
	background-color: #008B8B;
}
#dol{
	text-align:center;
	font-size:30px;
	
}
#gora{
	text-align:center;
}
#dol_zal{
	text-align:left;
	font-size:25px;
}